Repository Hunt-Master-Academy/hma-gamecalls-engine, changes with the owners that CODEOWNERS names for each.
All owners: @hunt-master-academy/game-calls-team, @hunt-master-academy/core-team, @hunt-master-academy/audio-team, @hunt-master-academy/security-team, @hunt-master-academy/frontend-team, @hunt-master-academy/platform-team

CODEOWNERS:

# CODEOWNERS

# Global owners
* @hunt-master-academy/game-calls-team

# Core engine components
/src/core/ @hunt-master-academy/core-team @hunt-master-academy/game-calls-team
/src/audio/ @hunt-master-academy/audio-team @hunt-master-academy/game-calls-team

# Security and memory management
/src/security/ @hunt-master-academy/security-team
/src/memory/ @hunt-master-academy/security-team @hunt-master-academy/core-team

# Web/UI components  
/web/ @hunt-master-academy/frontend-team @hunt-master-academy/game-calls-team

# Build and CI
/CMakeLists.txt @hunt-master-academy/platform-team
/.github/ @hunt-master-academy/platform-team
/tests/ @hunt-master-academy/game-calls-team

# Documentation
/docs/ @hunt-master-academy/game-calls-team

docs: add comprehensive local connections guide for testing infrastructure
  docs/local-connections.md
Owners: @hunt-master-academy/game-calls-team

Add lesson test HTML
  lesson_test.html
Owners: @hunt-master-academy/game-calls-team

feat(api): add node backend service
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/gameCallsController.js
  backend/src/controllers/sessionsController.js
  backend/src/index.js
  backend/src/middleware/errorHandler.js
  backend/src/middleware/logger.js
  backend/src/routes/analysis.js
  backend/src/routes/gamecalls.js
  backend/src/routes/sessions.js
  backend/src/services/gameCallsService.js
  backend/src/services/sessionsService.js
Owners: @hunt-master-academy/game-calls-team

docs: normalize planning docs and cross-engine mapping
  .github/copilot-instructions.md
  .github/workflows/ci.yml
Owners: @hunt-master-academy/platform-team

Add comprehensive microservices documentation for GameCalls Engine
  docs/HUNT_STRATEGY_COMPARISON.md
  docs/MICROSERVICES_ARCHITECTURE_DIAGRAMS.md
  docs/MICROSERVICES_ARCHITECTURE_GUIDE.md
  docs/MICROSERVICES_IMPLEMENTATION_SUMMARY.md
  docs/MICROSERVICES_INDEX.md
  docs/MICROSERVICES_QUICK_START.md
  docs/architecture.md
Owners: @hunt-master-academy/game-calls-team

docs: Add role-based navigation and architecture mapping to GameCalls microservices index
  docs/MICROSERVICES_INDEX.md
Owners: @hunt-master-academy/game-calls-team

Add Node-API bindings for GameCalls engine
  bindings/node-api/.gitignore
  bindings/node-api/README.md
  bindings/node-api/binding.gyp
  bindings/node-api/package.json
  bindings/node-api/src/audio_processor.cc
  bindings/node-api/src/audio_processor.h
  bindings/node-api/src/gamecalls_addon.cc
  bindings/node-api/src/session_wrapper.cc
  bindings/node-api/src/session_wrapper.h
  bindings/node-api/src/type_converters.cc
  bindings/node-api/src/type_converters.h
  bindings/node-api/test/test_bindings.js
Owners: @hunt-master-academy/game-calls-team

Archive completed project documentation
  MVP_PROGRESS_REPORT.md
  backend/package-lock.json
  backend/package.json
  backend/src/index.js
  backend/src/routes/health.js
  backend/src/services/minioService.js
  backend/src/services/sessionsService.js
  scripts/build-all.sh
  scripts_consolidation_report.md
  testing_scripts_consolidation_analysis.md
Owners: @hunt-master-academy/game-calls-team

Add backend services infrastructure
  backend/.dockerignore
  backend/Dockerfile
  backend/migrations/001_create_gamecalls_tables.sql
  backend/package-lock.json
  backend/package.json
  backend/src/services/redisService.js
  backend/src/services/sessionsService.js
Owners: @hunt-master-academy/game-calls-team

Update backend services with mock engine integration
  backend/Dockerfile
  backend/package.json
  backend/src/routes/health.js
  backend/src/services/mockGameCallsEngine.js
  backend/src/services/sessionsService.js
Owners: @hunt-master-academy/game-calls-team

[20251029-TEST-001] Fixed audio processing API parameter extraction
  backend/src/controllers/sessionsController.js
Owners: @hunt-master-academy/game-calls-team

[20251029-DB-007] Added master_calls database layer and GameCallsService implementation
  backend/migrations/002_create_master_calls_table.sql
  backend/migrations/003_seed_master_calls.sql
  backend/package-lock.json
  backend/package.json
  backend/src/services/databaseService.js
  backend/src/services/gameCallsService.js
Owners: @hunt-master-academy/game-calls-team

[20251029-DOCKER-002] Fixed Docker volume mount and completed GameCallsService database integration
  backend/src/services/gameCallsService.js
Owners: @hunt-master-academy/game-calls-team

[20251029-AUDIO-013] Implemented audio streaming endpoint with Range support
  backend/src/controllers/gameCallsController.js
  backend/src/index.js
  backend/src/middleware/errorHandler.js
  backend/src/services/gameCallsService.js
  backend/src/services/minioService.js
Owners: @hunt-master-academy/game-calls-team

[20251029-UPLOAD-003] Implemented master call upload API with validation
  backend/src/controllers/gameCallsController.js
  backend/src/routes/gamecalls.js
Owners: @hunt-master-academy/game-calls-team

[20251029-WAVEFORM-023] Implemented waveform generation with ffmpeg
  backend/Dockerfile
  backend/src/controllers/gameCallsController.js
  backend/src/services/gameCallsService.js
  backend/src/services/waveformService.js
Owners: @hunt-master-academy/game-calls-team

[20251029-TEST-006] Fixed session service and verified complete processing pipeline
  backend/src/services/sessionsService.js
Owners: @hunt-master-academy/game-calls-team

[V1.0-RELEASE] Complete Feature Extraction Pipeline with Validation & Monitoring
  .github/workflows/feature-extraction-ci.yml
  backend/src/services/featureExtractionService.js
  bindings/node-api/src/audio_processor.cc
  bindings/node-api/src/gamecalls_addon.cc
  bindings/node-api/src/session_wrapper.cc
  include/huntmaster/core/RealtimeScorer.h
  migrations/001_master_call_features.sql
  migrations/002_master_call_features_enhancements.sql
  migrations/003_enhanced_raw_archival.sql
  migrations/004_materialized_search_candidates.sql
  scripts/extract-features.js
  scripts/monitor-extraction.js
  scripts/quick-cross-test.js
  scripts/similarity-search.js
  scripts/smoke-test-components.js
  scripts/test-cross-similarity.js
  scripts/test-self-similarity.js
  scripts/trim-master-calls.sh
  scripts/validate-features.js
  scripts/verify-build-version.js
  src/core/DTWComparator.cpp
  src/core/RealtimeScorer.cpp
  src/core/UnifiedAudioEngine.cpp
Owners: @hunt-master-academy/platform-team, @hunt-master-academy/game-calls-team, @hunt-master-academy/core-team

[20251108-HEALTHCHECK-002] Replace wget with curl in GameCalls engine healthcheck
  backend/Dockerfile
Owners: @hunt-master-academy/game-calls-team

[20251108-HEALTHCHECK-003] Fix healthcheck for gamecalls-engine
  backend/Dockerfile.multistage
Owners: @hunt-master-academy/game-calls-team
